if SHIELD_WAYFINDER_LEFT

config ZMK_KEYBOARD_NAME
    default "Wayfinder"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_WAYFINDER_LEFT || SHIELD_WAYFINDER_RIGHT

config ZMK_SPLIT
    default y

endif